
  .display-1 {
    font-size: 64pt;
    color: #082C6C;
  }
  

  .box {
    font-size: 30pt;
    color: #082C6C;
    padding: 20px;
  }

  .container-1 {
    padding: 50px;
  }

  .bottom {
    padding: 10px;
  }


  
