h1 {
  font-family: Montserrat;
  font-size: 64px;
  color: #082C6C;
}

.playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.playlist-box {
  background-color: #D8BFD8;
  border-radius: 50px;
  padding: 40px;
  width: 50%;
  height: auto;
  overflow-y: auto;
}

.title-box {
  float: left;
}

.artist-box {
  float: right;
}

.title-box h4, .artist-box h4 {
  font-family: Montserrat;
  font-size: 24px;
  color: #082C6C;
  margin: 0;
  text-align: center;
}

.title-box h4 {
  margin-right: 50%;
}

.artist-box h4 {
  margin-left: 50%;
}

@media (max-width: 768px) {
  .playlist-box {
    width: 80%;
  }
}