{% extends "base.html" %}
{% block title %}PlaylistLab{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Tired of searching for playlists for your occasions? Search no more!</h1>
    <p>See below for the current playlists, and see above to sign up and join the PlaylistLab community!</p>
  </div>
</div>

<!-- Card deck -->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="/static/images/quad.png" class="card-img-top" alt="Playlist 1 Image">
      <div class="card-body">
        <h5 class="card-title">Lunch Playlist
        </h5>
        <p class="card-text">Fun songs to listen to when sitting on the quad with your friends!</p>
        <a href="/lunch" class="btn btn-primary">Go to Playlist 1</a>
      </div>
    </div>
    <div class="card">
      <img src="/static/images/ready.png" class="card-img-top" alt="Playlist 2 Image">
      <div class="card-body">
        <h5 class="card-title">Getting Ready Playlist</h5>
        <p class="card-text">A upbeat playlist to use when your getting ready to go out, alone or with friends! Variety of genres to sing along to :) </p>
        <a href="/ready" class="btn btn-primary">Go to Playlist 2</a>
      </div>
    </div>
    <div class="card">
      <img src="/static/images/drive.jpg" class="card-img-top" alt="Playlist 3 Image">
      <div class="card-body">
        <h5 class="card-title">Driving Playlist</h5>
        <p class="card-text">Listen to this when driving windows down, sunglasses on, feeling the vibes!</p>
        <a href="/drive" class="btn btn-primary">Go to Playlist 3</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
