<!-- The following page is extended by the base to include the navbar and footer -->
{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block extra_css%}<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/login.css')}}">{% endblock %}
{% block content %}
<h1 class="display-1">Login</h1>
<!-- form for users to input their username and password -->
<form action="#" method="POST" class="container">
    <label for="username" class = "box">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="password" class = "box" >Password:</label>
    <input type="text" id="password" name="password">
    <button type="submit" class = "submit">Submit</button>
    <!-- error message if their login is incorrect -->
    {% with  messages = get_flashed_messages()%}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- redirect users to sign up if they don't have account -->
    <p>Don't have an account? <a href="/signup">Click here</a> to sign up!</p>
</form>
{% endblock %}