<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch Playlist</title>
    <link rel="stylesheet" href="../static/">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="#">Playlist<span>Lab</span></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Add a Song</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center mt-4 mb-4">Lunch Playlist</h1>
      <div class="playlist-container">
        <div class="playlist-box">
          <div class="title-box">
            <h4>Title</h4>
          </div>
          <div class="artist-box">
            <h4>Artist</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
