{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block extra_css%}<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/playlist.css')}}">{% endblock %}
{% block content %}
    <div class="container">
      <h1 class="text-center mt-4 mb-4">{{name}} Playlist</h1>
      <div class="playlist-container">
        <div class="playlist-box">
          <div class="title-box">
            <h4>Title</h4>
          </div>
          <div class="artist-box">
            <h4>Artist</h4>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  
